@using prjTravel.Models

@inject TravelDbContext _dbcontext

@model IEnumerable<prjTravel.Models.Folder>

@{
    ViewData["Title"] = ViewBag.Classify;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var picturesDbcontext = _dbcontext.FolderPictures.ToList();
}

<h4 class="fw-bold">@ViewBag.Classify</h4>
<hr/>

<form asp-action="FolderClassify" method="get" class="col-12 col-sm-12 col-md-12 col-xl-6 mb-2">
    <!--使用者輸入-->
    <div class="row g-1">
        <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <nobr class="h5 fw-bold" style="display: grid; place-items: center; height: 100%;">
                @Html.DisplayNameFor(model => model.Fstatus):
            </nobr>
        </div>
        <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <select class="form-select" name="FolderStatus">
                <option value="">不限</option>
                <option value="1">啟用</option>
                <option value="0">停用</option>
            </select>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <input type="text" class="form-control" name="SearchFolder" placeholder="請輸入主題名稱">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <button type="submit" class="btn btn-secondary">查詢</button>
        </div>
        <div class="col-0 col-sm-auto col-md-auto col-lg-auto"></div>
    </div>
    <!--隱藏-->
    <input type="text" class="form-control visually-hidden" name="Cid" value="@ViewData["ClassifyKey"]" />
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-nowrap"> 
                    @Html.DisplayNameFor(model => model.Ftitle)
                </th>
@*                 <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Fdescription)
                </th> *@
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FcreateUser)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FcreateTime)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FeditUser)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.FeditTime)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.Fpicture)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                int index = 0;              //第幾筆資料
                int pictureTitleNum = 0;    //標籤連結導引用
                int pictureNum = 0;         //幻燈片用
            }
            @foreach (var item in Model)
            {
                index++;
                var picturesItem = picturesDbcontext.Where(m => m.Pfid == item.Fpicture && m.PcontentClassify == "Title").OrderBy(m => m.Prow);  //取得圖片路徑

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ftitle)
                    </td>
@*                     <td>
                        @Html.DisplayFor(modelItem => item.Fdescription)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.FcreateUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FcreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeditUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeditTime)
                    </td>
                    <td style="width:180px; height:200px">
                        <!--圖片輪播-->
                        <div id="carousellnk_@index" class="carousel slide" data-bs-ride="carousel">

                            <!--連結導引-->
                            <div class="carousel-indicators">
                                @foreach (var pictures in picturesItem)
                                {
                                    pictureTitleNum = pictureNum + 1;
                                    if (pictureNum == 0)
                                    {
                                        <button type="button" data-bs-target="#carousellnk_@index" data-bs-slide-to="@pictureNum" class="active" aria-current="true" aria-label="Slide @pictureTitleNum"></button>
                                    }
                                    else
                                    {
                                        <button type="button" data-bs-target="#carousellnk_@index" data-bs-slide-to="@pictureNum" aria-label="Slide @pictureTitleNum"></button>
                                    }
                                    pictureNum++;
                                }
                                @{
                                    pictureNum = 0; //重製單筆資料預設值
                                }
                            </div>

                            <!--幻燈片圖-->
                            <div class="carousel-inner">
                                @foreach (var pictures in picturesItem)
                                {
                                    if (pictureNum == 0)
                                    {
                                        <div class="carousel-item active" data-bs-interval="3000">
                                            <img src="~/pictures/@item.Fcid/@pictures.Ppicture" style="width:180px; height:200px">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item" data-bs-interval="3000">
                                            <img src="~/pictures/@item.Fcid/@pictures.Ppicture" style="width:180px; height:200px">
                                        </div>
                                    }

                                    pictureNum++;
                                }

                                @{
                                    pictureNum = 0; //重製單筆資料預設值
                                }
                            </div>

                            <!--上下導引-->
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousellnk_@index" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousellnk_@index" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                        </div>
                        @* @Html.DisplayFor(modelItem => item.Fpicture) *@
                    </td>
                    <td>
                        <div class="mb-2">
                            @{
                                if (item.Fstatus == 1)
                                {
                                    <a asp-action="FolderStatus" asp-route-Fid="@item.FfolderId" class="btn btn-success btn-block" style="width:110px">顯示</a>
                                }
                                else if (item.Fstatus == 0)
                                {
                                    <a asp-action="FolderStatus" asp-route-Fid="@item.FfolderId" class="btn btn-dark btn-block" style="width:110px">隱藏</a>
                                }
                            }
                        </div>
                        <div class="mb-2">
                            <a asp-action="FolderEdit" asp-route-Fid="@item.FfolderId" class="btn btn-warning btn-block" style="width:110px">編輯內容</a>
                        </div>
                        <div class="mb-2">
                            <a asp-action="PictureRow" asp-route-Fpicture="@item.Fpicture" class="btn btn-primary btn-block" style="width:110px">跑馬燈順序</a>
                        </div>
                        <div class="mb-2">
                            <button type="button" class="btn btn-danger" style="width:110px;" data-bs-toggle="modal" data-bs-target="#DeleteConfirmModal"
                                    data-bs-Controller="AdminController" data-bs-Action="FolderDelete" data-bs-ActionID="Fid"
                                    data-bs-Key="@item.FfolderId" data-bs-Title="確定要刪除這篇資料嗎?" data-bs-Thing="刪除後將無法復原!">
                                刪除
                            </button>
                            @* 一律用_DeleteConfirmModal顯示方便管理 *@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>