@using prjTravel.Models

@inject TravelDbContext _dbcontext

@{
    var classify = _dbcontext.Classifies.Where(m => m.Cstatus == 1).OrderBy(m => m.Cid);
}

<style>
    /*ield-validation-valid 相同的樣式*/
    .invalid-feedback.text-danger {
        color: #dc3545;
        font-size: 16px;
        margin-top: 0rem;
        font-family: 'Arial', sans-serif;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - 台灣旅遊網</title>

@*     <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link href="~/OverRideBootstrap.css" rel="stylesheet" />

    <style>
        .form-group {
            margin-top: 10px;
        }

        .dropdown-menu :hover {
            background-color: #EAC100; /* 更改鼠標懸停時的背景顏色 */
            color: #FFFFFF;
        }

        .navbar-nav :hover {
            color: #FFFFFF;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-xl bg-warning bg-gradient bg-opacity-75 fw-bold">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">台灣旅遊網</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Advertise">新增廣告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AdvertiseItem">廣告列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ClassifyCreate">新增分類</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index">分類列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="FolderUpload">新增資料</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop" data-bs-toggle="dropdown">
                            資料分類
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var item in classify)
                            {
                                <li>
                                    <a class="dropdown-item" asp-action="FolderClassifyIndex" asp-route-Cid="@item.Cid">@item.Cname</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="MemberCreate">新增會員</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="MemberList">會員列表</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop" data-bs-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 20 20">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            您好 @User.Identity!.Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="GoMemberEdit">編輯個人資料</a></li>
                            <li><a class="dropdown-item" asp-action="GoMemberAllFold">我的文章</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">登出</a></li>
                        </ul>
                    </li>
                </ul>
@*                 <ul class="nav-item dropdown ms-auto">
                    <li class="nav">
                        <a class="nav-link dropdown-toggle" role="button">
                            您好 @User.Identity!.Name
                        </a>
                    </li>
                    <li class="dropdown-menu">
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">登出</a>
                    </li>
                </ul> *@
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <footer class="border-top text-muted mt-3">
        <div class="container-fluid mt-3">
            @DateTime.Now.Year - 台灣旅遊網 by <a href="#">WeiWei</a>
        </div>
    </footer>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

    @* 顯示成功、失敗 *@
    @await Html.PartialAsync("_ToastPartial")
    @* 確認是否要刪除 *@
    @await Html.PartialAsync("_DeleteConfirmModal")
    @* 照片上傳、數量限制 *@
    @await Html.PartialAsync("_PictureModal")
</body>
</html>

<script>
    /*取代瀏覽器預設的認證模式改成Bootstrap的*/
    (function () {
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {

                    var hasValidationErrors = Array.from(form.elements).some(function (element) {
                        return element.classList.contains('input-validation-error');
                    });

                    if (!form.checkValidity() || hasValidationErrors) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated');     
                }, false)
            })
    })()
</script>