@using prjTravel.Models;

@inject TravelDbContext _context

@{
    //食物有關類別
    var classifyEat = _context.Classifies.Where(m => m.Cstatus == 1 && (m.Cid == 1 || m.Cid == 2)).ToList();
    //住宿有關類別
    var classifyStay = _context.Classifies.Where(m => m.Cstatus == 1 && (m.Cid == 5 || m.Cid == 6)).ToList();
    //其它類別
    var classify = _context.Classifies.Where(m => m.Cstatus == 1 && m.Cid != 1 && m.Cid != 2 && m.Cid != 5 && m.Cid != 6).ToList();

    //
    // /*取得廣告的所有圖片*/
    // var advertise = (from AdvertiseIItem in _context.Advertises
    //                  join FolderPictureItem in _context.FolderPictures
    //                        on AdvertiseIItem.Apictures equals FolderPictureItem.Pfid into Left_Advertise_Pictures
    //                  from FolderPictureItem in Left_Advertise_Pictures.DefaultIfEmpty()
    //                  where AdvertiseIItem.Astatus == 1
    //                  select new { AdvertiseIItem,
    //                               FolderPictureItem
    //                             }
    //                 );

    // /*利用GroupBy組合資料 類似行轉列將小圖與大圖拉成兩個欄位*/
    // var advertisePictures = advertise
    // .GroupBy(adv => new
    // {
    //     id = adv.AdvertiseIItem.Aid,
    //     cid = adv.AdvertiseIItem.Acid,
    //     folderId = adv.AdvertiseIItem.AfolderId,
    //     pictures = adv.AdvertiseIItem.Apictures,
    //     status = adv.AdvertiseIItem.Astatus
    // })
    // .Select(advGroup => new
    // {
    //     id = advGroup.Key.id,
    //     cid = advGroup.Key.cid,
    //     folderId = advGroup.Key.folderId,
    //     pictures = advGroup.Key.pictures,
    //     status = advGroup.Key.status,
    //     /*取得sm,mb各自的第一筆資料*/
    //     sm = advGroup.Select(p => p.FolderPictureItem.Ppicture)
    //                     .Where(pp => pp != null && pp.Contains("_sm"))
    //                     .FirstOrDefault() ?? string.Empty,
    //     md = advGroup.Select(p => p.FolderPictureItem.Ppicture)
    //                     .Where(pp => pp != null && pp.Contains("_mb"))
    //                     .FirstOrDefault() ?? string.Empty,
            // })
    // .ToList();
}
<style>
    /*ield-validation-valid 相同的樣式*/
    .invalid-feedback.text-danger {
        color: #dc3545;
        font-size: 16px;
        margin-top: 0rem;
        font-family: 'Arial', sans-serif;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - 台灣旅遊網</title>

    @*     <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> *@
    <link href="~/OverRideBootstrap.css" rel="stylesheet" />

    <style>
        .form-group {
            margin-top: 10px;
        }

        .dropdown-menu :hover {
            background-color: #2FC54F; /* 更改鼠標懸停時的背景顏色 */
            color: #FFFFFF;
        }

        .navbar-nav :hover {
            color: #FFFFFF;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success bg-gradient fw-bold fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index">台灣旅遊網</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop" data-bs-toggle="dropdown">
                            美食
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var Eatitem in classifyEat)
                            {
                                <li><a class="dropdown-item" asp-action="FolderClassifyIndex" asp-route-Cid="@Eatitem.Cid">@Eatitem.Cname</a></li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop" data-bs-toggle="dropdown">
                            住宿
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var Stayitem in classifyStay)
                            {
                                <li><a class="dropdown-item" asp-action="FolderClassifyIndex" asp-route-Cid="@Stayitem.Cid">@Stayitem.Cname</a></li>
                            }
                        </ul>
                    </li>
                    @foreach (var item in classify)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="FolderClassifyIndex" asp-route-Cid="@item.Cid">@item.Cname</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-action="FolderUpload">新增資料</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbardrop" data-bs-toggle="dropdown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 20 20">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            您好 @User.Identity!.Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="GoMemberEdit">編輯個人資料</a></li>
                            <li><a class="dropdown-item" asp-action="GoMemberAllFold">我的文章</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @*     @{
    int AdTitlePicture = 0;  //標籤連結導引用
    int pictureNum = 0;      //幻燈片用
    }
    <!--圖片輪播-->
    <div id="carousellnk_Ad" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <!--連結導引-->
    <div class="carousel-indicators">
    @foreach (var item in advertisePictures)
    {
    AdTitlePicture = pictureNum + 1;
    if (pictureNum == 0)
    {
    <button type="button" data-bs-target="#carousellnk_Ad" data-bs-slide-to="@pictureNum" class="active" aria-current="true" aria-label="Slide @AdTitlePicture"></button>
    }
    else
    {
    <button type="button" data-bs-target="#carousellnk_Ad" data-bs-slide-to="@pictureNum" aria-label="Slide @AdTitlePicture"></button>
    }
    pictureNum++;
    }
    </div>

    @{
    pictureNum = 0; //重製資料預設值
    }

    <!--幻燈片圖-->
    <div class="carousel-inner">
    @foreach (var item in advertisePictures)
    {
    if (pictureNum == 0)
    {
    <div class="carousel-item active" data-bs-interval="3000" style="height:400px">
    <picture>
    <source srcset="~/pictures/advertisePictures/@item.sm" media="(max-width: 576px)">
    <img src="~/pictures/advertisePictures/@item.md" style="height: 400px; width: 100%;">
    </picture>
    </div>
    }
    else
    {
    <div class="carousel-item" data-bs-interval="3000" style="height:400px">
    <picture>
    <source srcset="~/pictures/advertisePictures/@item.sm" media="(max-width: 576px)">
    <img src="~/pictures/advertisePictures/@item.md" style="height: 400px; width: 100%;">
    </picture>
    </div>
    }

    pictureNum++;
    }
    </div>
    @{
    pictureNum = 0; //重製資料預設值
    }

    <!--上下導引-->
    @{
    if (advertisePictures.Count() > 0)
    {
    <button class="carousel-control-prev" type="button" data-bs-target="#carousellnk_Ad" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousellnk_Ad" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    }
    }
    </div>
    *@

    <div style="margin-top: 56px;">
        @RenderBody()
    </div>

    <footer class="border-top text-muted mt-3">
        <div class="container-fluid mt-3">
            @DateTime.Now.Year - 台灣旅遊網 by <a href="#">WeiWei</a>
        </div>
    </footer>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/popper.js/umd/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)

    @* 顯示成功、失敗 *@
    @await Html.PartialAsync("_ToastPartial")
    @* 確認是否要刪除 *@
    @await Html.PartialAsync("_DeleteConfirmModal")
    @* 照片上傳、數量限制 *@
    @await Html.PartialAsync("_PictureModal")

</body>
</html>

<script>
    /*取代瀏覽器預設的認證模式改成Bootstrap的*/
    (function () {
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {

                    var hasValidationErrors = Array.from(form.elements).some(function (element) {
                        return element.classList.contains('input-validation-error');
                    });

                    if (!form.checkValidity() || hasValidationErrors) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated');
                }, false)
            })
    })()
</script>